body{
  background-color: #02010a;
  font-family: 'DancingScript-Regular';
}
@font-face{
  font-family: 'DancingScript-Regular';
  src: url('DancingScript-Regular.ttf');
}
#cabecera{
  background-color: #5b7989;
  height: 100px;
  border-radius: 12px;
}
#cabecera a{
  color: white;
  text-shadow: 2px, 2px, 2px, #02010a;
}
#titulo {
  float: left;
  padding: 30px 0 0 30px;
  display: block;
  font-weight: 700;
  font-size: normal;
}
nav {
  float: right;
}
nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
  padding-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
}
nav ul li a{
  display: block;
  padding: 0 10px;
}
#imgC{
  background-color: #82c3a6;
  height: 100%;
}
#imgC img{
  margin: 10% 10% 10% 10%;
  box-shadow: 10px 10px 10px #02010a;
}
article [class*="bloque"]{
  min-height: 40%;
  flex: 1 2 40%;
  border: 1px;
  border-style: solid;
  border-color: black;
}
#panelIzq {
  background-color: #d5c75f;
  order: 1;
  flex-grow: 1;
  width: 50%;
}
#panelDer {
  background-color: #d5c75f;
  order: 2;
  flex-grow: 2;
  width: 50%;
}
.imgS{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.imgS img{
  margin: 10% 10% 10% 10%;
  box-shadow: 10px 10px 10px #02010a;
}
#panelIzq img:hover{
  transform: rotate(10deg);
  -webkit-filter: drop-shadow(20px 20px 20px #82c3a6);
  filter: drop-shadow(20px 20px 20px #82c3a6);
  border-style: solid;
  border-width: 2px;
}
#panelDer img:hover{
  transform: translate(5px, 20px);
  -webkit-filter: drop-shadow(20px 20px 20px #82c3a6);
  filter: drop-shadow(20px 20px 20px #82c3a6);
  border-style: solid;
  border-width: 2px;
}
@media screen and (max-width: 960px){
  #imgC{
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 640px){
  #imgC{
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 480px){
  #imgC{
    width: 100%;
    margin: 0 auto;
  }
  #panelDer{
    width: 100%;
  }
  #panelIzq{
    width: 100%;
  }
}
@media screen and (max-width: 1050px;){
  #contenido{
    width: 900px;
  }
}
@media screen and (max-width: 768px;){
  #contenido{
    width: 100%;
  }
}
#panel1 {
  background-color: #c6d5c5;
  float: left;
  width: 25%;
  height: 200px;
  font-size: normal;
  text-align: center;
}
#panel2{
  background-color: #c6d5c5;
  float: left;
  width: 25%;
  height: 200px;
  font-size: normal;
  text-align: center;
}
#panel3{
  background-color: #c6d5c5;
  float: left;
  width: 25%;
  height: 200px;
  font-size: normal;
  text-align: center;
}
#panel4{
  background-color: #c6d5c5;
  float: left;
  width: 25%;
  height: 200px;
  font-size: normal;
  text-align: center;
}
#informacion{
  height: 300px;
  background-color: #c6d5c5;
  border-radius: 12px;
}
